<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/nav.ejs') %>
            <h1>Somthing is went wrong!</h1>
            <p>we're working in this, please try again later...</p>

            <%- include('includes/end.ejs') %>